.grandma {
	margin: 0 auto;
    padding: 30px;
    min-height:500px;
	width: 700px;
	background-color: rgba(255,255,255,0.95);
    text-align: center;
    font-family:Helvetica;

}
ul.nav {
	margin: 50px 0;
}
.horizontal_pictures {
	width:400px;
	height:225px;
	display:inline-block;	
}
.horizontal1 {
	width: 400px;
	height: 536px;
}
.vertical_pictures {
	width:300px;
	height:400px;
	display:inline;	
}

a.piclink {
	text-decoration: none;
}


/*
}*/
