body {
	text-align: center;
	padding: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment: fixed; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a.menu:link, a.menu:visited {
    margin: 0;
    display: block;
    width: 120px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Helvetica;
}

a.menu:hover, a.menu:active {
    background-color: #E2E2E2;
}
div.content {
	margin: 0 auto;
	min-height:500px;
	width: 700px;
	background-color: rgba(255,255,255,0.95);
    text-align: center;
    font-family:Helvetica;
}
div.home {
	margin: 0 auto;
	height: 500px;
	width: 700px;
	background-color: rgba(255,255,255,0.95);
    text-align: center;
    font-family:Helvetica;
}
h1 {
	font-size: 64px;
	color: black;
	padding: 20px;
	font-family:Helvetica;
}
p {
	font-family:Helvetica;
	color:black;
}

#box1, #box2, #box3 {
	margin: 0 auto;
	height:50px;
	width:400px;
	padding-bottom: 10px;
	padding-top:10px;
	text-align:left;
	font-size:40px;
	font-family:Helvetica;
	text-decoration: none;
	transition: background-color 0.5s ease;
}
#box1.active {
	font-weight:bold;
}
#box2.active {
	font-weight:bold;
}
#box3.active {
	font-weight:bold;
}
.active {
	font-weight:bold;
}
img.resize {
    width:240px; /* you can use % */
    height: auto;
}
#aboutme {
	background-color: rgba(255,255,255,0.95);
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	text-align:left;
}
img.aboutme {
	float:right;
}



