div.tictactoe {
	margin: 0 auto;
    min-height:500px;
	width: 700px;
	background-color: rgba(255,255,255,0.95);
    text-align: center;
    font-family:Helvetica;

}
ul.nav {
	margin: 16px 0;
}

.games {
	text-decoration: none;
	font-size: 30px;
}