body {
	text-align: center;
	padding: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
    padding-left: 210px;
    overflow: hidden;
}

li {
    float: left;
}

a.menu:link, a.menu:visited {
    margin: 0;
    display: block;
    width: 120px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Helvetica;
}

a.menu:hover, a.menu:active {
    background-color: #E2E2E2;
}
div.content {
	margin: 0 auto;
	min-height:500px;
	width: 700px;
	background-color: rgba(255,255,255,0.95);
    text-align: center;
    font-family:Helvetica;
}
div.home {
	margin: 0 auto;
	height: 500px;
	width: 700px;
	background-color: rgba(255,255,255,0.95);
    text-align: center;
    font-family:Helvetica;
}
h1 {
	font-size: 64px;
	color: black;
	padding-top: 20px;
	margin-bottom:10px;
	font-family:Helvetica;
}
p {
	font-family:Helvetica;
	color:black;
}

.player {
	font-size:20px;
	display:inline;
	float:left;
}
.computer {
	font-size:20px;
	display:inline;
	float:right;
}
.rock {
	border:solid;
	height:20px;
	width:100px;
	display:inline;
}
.paper {
	border:solid;
	height:20px;
	width:100px;
	display:inline;
}
.scissors {
	border:solid;
	height:20px;
	width:100px;
	display:inline;
}
.reset {
	font-size:20px;
	border:solid;
	height:20px;
	width:100px;
	float:center;
}
